@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");
:root {
  --myorange: rgb(228, 151, 7);
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Roboto';
}

body .gist .gist-file {
  margin-bottom: 0;
  border: 1px dashed #adb5bd;
  border-radius: 0;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #f1f3f5;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 14px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 15px !important;
}

body .gist tr:last-child td {
  padding-bottom: 15px !important;
}

body .gist .blob-num {
  color: #ced4da;
  background-color: #495057;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}

.navbar-top {
  padding: 1em;
}

.navbar-top .dpoorlogo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.4em;
}

.navbar-top .dpoorlogo span {
  color: var(--myorange);
}

.navbar-top nav.mobile-menu {
  display: block;
}

.navbar-top nav {
  background: white;
  padding: 1em;
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  height: 100vh;
}

.navbar-top ul.primary-nav {
  margin-top: 5em;
}

.navbar-top li a {
  color: #444444;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

.navbar-top li a:hover {
  font-weight: bold;
}

.navbar-top .mobile-menu-exit {
  float: right;
  margin: .5em;
}

.navbar-top nav {
  display: none;
}

.navbar-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar-top .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-align: center;
}

.left-col .subhead a {
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

section.selected-section {
  margin: 0.05em;
  background: var(--myorange);
  color: white;
}

section.selected-section a {
  display: block;
  color: white;
  text-decoration: none;
}

section.selected-section a:hover {
  color: #444444;
}

section.selected-section h1 {
  text-align: center;
  margin-top: 0;
  padding-bottom: 0.5em;
  font-size: 2.2em;
}

section.selected-section .selected-images {
  text-align: center;
  padding: 0.75em 0.5em;
  margin: 0.3em auto 2em auto;
}

section.selected-section .selected-images img {
  width: 10em;
  height: 10em;
  padding: 0.2em;
  border: 0.1em solid var(--myorange);
  border-radius: 30%;
}

section.table-hero {
  margin: 0.05em;
  background: white;
  color: #444444;
}

section.table-hero a {
  display: block;
  color: #444444;
  text-decoration: none;
}

section.table-hero a:hover {
  color: var(--myorange);
}

section.table-hero h1 {
  text-align: center;
  margin-top: 0;
  padding-bottom: 0.5em;
  font-size: 2.2em;
}

section.table-hero .selected-images {
  text-align: center;
  padding: 0.75em 0.5em;
  margin: 0.3em auto 2em auto;
}

section.table-hero .selected-images img {
  width: 10em;
  height: 10em;
  padding: 0.2em;
  border: 0.1em solid var(--myorange);
  border-radius: 30%;
}

ul.selected-list {
  margin: 0;
  padding-left: 0.1em;
  display: -ms-grid;
  display: grid;
}

ul.selected-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.selected-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  margin-right: 0.5em;
}

.navigate .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  place-content: space-between;
}

.navigate .navbar {
  display: block;
  padding: 1em;
  background-color: white;
  position: inherit;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0.01em;
}

.navigate .navbar a:hover {
  background-color: var(--myorange);
  color: white;
}

.navigate .navbar a.active {
  background-color: var(--myorange);
  color: white;
}

.navigate .navbar .primary {
  margin-right: 0.3em;
  margin-bottom: 0.1em;
}

.navigate .navbar .primary a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 0.3em 0.8em;
  text-decoration: none;
  font-size: 1.1em;
}

.navigate .navbar .secondary {
  float: right;
  padding: 0.1em 0.2em;
  margin: 1em auto 0em auto;
  text-align: center;
}

.navigate .navbar .secondary a {
  display: block;
  float: left;
  padding-right: 1em;
  padding-left: 0.5em;
  text-decoration: none;
}

.navigate .navbar .secondary img.researchgate {
  width: 100%;
  height: 1.5em;
}

nav.menu-btn {
  display: block;
}

.mobile-menu-exit {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar-top .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  #pnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    height: auto;
    width: 100%;
    position: unset;
    padding: 0;
  }
  #pnav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #pnav ul.primary-nav {
    margin: 0;
  }
  #pnav li.current a {
    font-weight: bold;
  }
}

img.hide {
  display: none;
}

.cvae {
  display: none;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: #444444;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  float: none;
  color: #444444;
  padding: 10px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
/*# sourceMappingURL=main.css.map */